.nav-container{
    background-color: bisque;
    height: 70px;
}
.nav-bar{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    margin-left: 50px;
    cursor: pointer;
}
.nav-bar img{
    height: 50px;
    width: 50px;
}
.nav-bar span{
    font-size: 1.2rem;
    font-weight: 700;
}